.calendar-content {
      display: flex;
      flex-direction: column;
      .header {
            display: flex;
            flex-direction: row;
            width: 100%;
      }
      .body {
            margin: 0;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(14%, 1fr) ); 
            
      }
      .footer {
            display: flex;
            justify-content: flex-end;
      }
}